<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WDNJMZ8');</script>
  <!-- End Google Tag Manager -->

  <!-- Hotjar Tracking Code for www.aurabox.co -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:1179283,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  <!-- End Hotjar Code -->

  <!-- Heap Code -->
  <script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
    heap.load("1563898858");
    heap.identify('{{ customer.email }}');
    heap.addUserProperties({'Name': '{{ customer.name }}','email': '{{ customer.email }}','CustomerID':'{{ customer.id }}','TotalSpent':'{{ customer.total_spent }}'});
  </script>
  <!-- End Heap Code -->

  <script>
    window.Shoppad = window.Shoppad || {},
    window.Shoppad.apps = window.Shoppad.apps || {},
    window.Shoppad.apps.infiniteoptions = window.Shoppad.apps.infiniteoptions || {},
    window.Shoppad.apps.infiniteoptions.submitPriceModCartAnyways = true;
  </script>

  <script src="//d1liekpayvooaz.cloudfront.net/apps/customizery/customizery.js?shop={{shop.permanent_domain}}"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {% include 'google-fonts' %}

  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->

  {%- if template.directory == 'customers' -%}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {%- endif -%}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  {{ content_for_header }}
{%- include 'bold-common' -%}
{%- include 'bold-product' with product, hide_action: 'header' -%}
{%- include 'bold-ro-init' -%}
 <!--added by westmountsolutions.com 2019-02-08-ES
    Added to change the dropdown values from 25 to 45
    and set to default the value 28.

    Update WS20190212-ES: Changed minimal value to "20"
   -->
{% raw %}
<script>
var newTemplate =
        `<div class="bold-ro__order-interval-container" {{^subscription_checked}} style="display:false;" {{/subscription_checked}}>
            <span class="bold-ro__order-interval-lbl">{{#translate}}order_interval_convertible{{/translate}}</span>
            <select class="bold-ro__order-interval">
			<option data-frequency-type="1" data-frequency-num="20" data-frequency-type-text="Day(s)" value="1-20">
  20 Days
            </option>
			<option data-frequency-type="1" data-frequency-num="21" data-frequency-type-text="Day(s)" value="1-21">
  21 Days
            </option>
			<option data-frequency-type="1" data-frequency-num="22" data-frequency-type-text="Day(s)" value="1-22">
  22 Days
            </option>
			<option data-frequency-type="1" data-frequency-num="23" data-frequency-type-text="Day(s)" value="1-23">
  23 Days
            </option>
			<option data-frequency-type="1" data-frequency-num="24" data-frequency-type-text="Day(s)" value="1-24">
  24 Days
            </option>
			<option data-frequency-type="1" data-frequency-num="25" data-frequency-type-text="Day(s)" value="1-25">
  25 Days
            </option>
            <option data-frequency-type="1" data-frequency-num="26" data-frequency-type-text="Days(s)" value="1-26">
  26 Days
            </option>
            <option data-frequency-type="1" data-frequency-num="27" data-frequency-type-text="Day(s)" value="1-27">
  27 Days
            </option>
            <option data-frequency-type="1" data-frequency-num="28" data-frequency-type-text="Day(s)" value="1-28"  selected="true">
  28 Days
            </option>
            <option data-frequency-type="1" data-frequency-num="29" data-frequency-type-text="Day(s)" value="1-29">
  29 Days
            </option>
            <option data-frequency-type="1" data-frequency-num="30" data-frequency-type-text="Day(s)" value="1-30">
  30 Days
            </option>
            <option data-frequency-type="1" data-frequency-num="31" data-frequency-type-text="Day(s)" value="1-31">
  31 Days
            </option>
            <option data-frequency-type="1" data-frequency-num="32" data-frequency-type-text="Day(s)" value="1-32">
  32 Days
            </option>
            <option data-frequency-type="1" data-frequency-num="33" data-frequency-type-text="Day(s)" value="1-33">
  33 Days
            </option>
            <option data-frequency-type="1" data-frequency-num="34" data-frequency-type-text="Day(s)" value="1-34">
  34 Days
            </option>
            <option data-frequency-type="1" data-frequency-num="35" data-frequency-type-text="Day(s)" value="1-35">
  35 Days
            </option>
            <option data-frequency-type="1" data-frequency-num="36" data-frequency-type-text="Day(s)" value="1-36">
  36 Days
            </option>
            <option data-frequency-type="1" data-frequency-num="37" data-frequency-type-text="Day(s)" value="1-37">
  37 Days
            </option>
            <option data-frequency-type="1" data-frequency-num="38" data-frequency-type-text="Day(s)" value="1-38">
  38 Days
            </option>
            <option data-frequency-type="1" data-frequency-num="39" data-frequency-type-text="Day(s)" value="1-39">
  39 Days
            </option>
            <option data-frequency-type="1" data-frequency-num="40" data-frequency-type-text="Day(s)" value="1-40">
  40 Days
            </option>
            <option data-frequency-type="1" data-frequency-num="41" data-frequency-type-text="Day(s)" value="1-41">
  41 Days
            </option>
            <option data-frequency-type="1" data-frequency-num="42" data-frequency-type-text="Day(s)" value="1-42">
  42 Days
            </option>
            <option data-frequency-type="1" data-frequency-num="43" data-frequency-type-text="Day(s)" value="1-43">
  43 Days
            </option>
            <option data-frequency-type="1" data-frequency-num="44" data-frequency-type-text="Day(s)" value="1-44">
  44 Days
            </option>
            <option data-frequency-type="1" data-frequency-num="45" data-frequency-type-text="Day(s)" value="1-45">
  45 Days
            </option>

            </select>
            {{#shipping_schedule_hover_enable}}
  <a href="javascript:;" class="bold-ro__shipping-tooltip">{{#translate}}shipping_schedule{{/translate}}</a>
            {{/shipping_schedule_hover_enable}}
        </div>
        <input type="hidden" name="frequency_num" class="bold-ro__frequency-num" value="">
        <input type="hidden" name="frequency_type" class="bold-ro__frequency-type" value="">
        <input name="frequency_type_text" class="bold-ro__frequency-type-text" type="hidden" value="">`;

      BOLD.common.eventEmitter.on('BOLD_RECURRING_ORDERS_before_widget_loaded', function(){
      BOLD.recurring_orders.setTemplate('selectableFrequencyInterval', newTemplate, true);

      });
  </script>
{% endraw %}
  <!--end of added by westmountsolutions.com -->
<!--   This area was rendered by Powerful Formbuilder App -->
	{% include 'globo-form-script' %}
	<script>
		{% if product %}
			var PFB_product_name = '{{ product.title }}';
			var PFB_product_url = '{{ product.url }}';
      var PFB_product_type = '{{ product.type }}';
		{% endif %}
		{% if customer %}
			var PFB_customer_email = '{{ customer.email }}';
			var PFB_customer_name = '{{ customer.first_name }} {{ customer.last_name }}';
		{% endif %}
	</script>

  {% comment %} Date picker for box product page lines of code {% endcomment %}
  {{ '//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css' | stylesheet_tag }}
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" defer="defer"></script>


  {% comment %} !!! ACTIVE SETTINGS FOR Date picker OF INFINITE OPTIONS for box product page lines of code {% endcomment %}
    <script>
    window.Shoppad = window.Shoppad || {},
    window.Shoppad.apps = window.Shoppad.apps || {},
    window.Shoppad.apps.infiniteoptions = {
      ready: function() {

        var disabledDates = ['18/2/2019', '20/2/2019', '21/2/2019', '22/2/2019', '23/2/2019', '24/2/2019', '25/2/2019', '26/2/2019'];

        function disableSpecificDates(date) {
          var m = date.getMonth();
          var d = date.getDate();
          var y = date.getFullYear();
          var day = date.getDay();

          // First convert the date in to the mm-dd-yyyy format
          // Take note that we will increment the month count by 1
          var currentdate = d + '/' + (m + 1) + '/' + y ;

          // We will now check if the date belongs to disabledDates array
          for (var i = 0; i < disabledDates.length; i++) {
            // Now check if the current date is in disabled dates array of scecific dates and if it is a Sunday (0)
            if ($.inArray(currentdate, disabledDates) != -1 || day == 0) {
              return [false];
            }
            else { return [true] ; }
          }


          // In case the date is not present in disabled array, we will now check if it is a weekend.
          // We will use the noWeekends function
          // var weekenddate = $.datepicker.noWeekends(date);
          //
          // console.log(weekenddate);
          // return weekenddate;
        }

        function callback() {
          $('#infiniteoptions-container .datepicker').datepicker({
            inline: true,
            // beforeShowDay: function(date) {
            //   var day = date.getDay();
            //   return [(day != 0)];
            // },
            beforeShowDay: disableSpecificDates,
            firstDay: 1,
            minDate: "+2d",
            altField: '#infiniteoptions-container .datepicker input[type=text]',
            onSelect: function() {
              $('#infiniteoptions-container .ui-datepicker-inline').hide();
            }
          });

          $('#infiniteoptions-container .datepicker input[type=text]').change(function(){
            $('#infiniteoptions-container .datepicker').datepicker('setDate', $(this).val());
          });

          $('#infiniteoptions-container .datepicker').datepicker( "setDate", '' );

          $('#infiniteoptions-container .datepicker input[type=text]').attr('readonly','true');

          $('#infiniteoptions-container .ui-datepicker-inline').hide();

          $('#infiniteoptions-container .datepicker input[type=text]').on('click touchstart', function () {
                $('#infiniteoptions-container .ui-datepicker-inline').show();
          });
        }

        $(document).on('mouseup touchstart', function(e) {
          // If the target of the click isn't the container nor a descendant of the container.
          if (!$('#infiniteoptions-container .ui-datepicker-inline').is(e.target) && $('#infiniteoptions-container .ui-datepicker-inline').has(e.target).length === 0) {
            $('#infiniteoptions-container .ui-datepicker-inline').hide();
          }
        });

        if (window.jQuery.fn.datepicker) {
          callback();
        } else {
          var script = document.createElement('script');
          script.src = '//code.jquery.com/ui/1.10.2/jquery-ui.js';
          script.onload = callback;
          document.getElementsByTagName('head')[0].appendChild(script);
        }
      }
    };
  </script>

  <script src='//d1liekpayvooaz.cloudfront.net/apps/customizery/customizery.js?shop={{shop.permanent_domain}}'></script>

<!-- End Area -->
{% include 'weglot_hreftags' %}
{% include 'weglot_switcher' %}

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '295750257795777');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=295750257795777&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

</head>

<body class="template-{{ template | split: '.' | first }}">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WDNJMZ8"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="SearchDrawer" class="search-bar drawer drawer--top" role="dialog" aria-modal="true" aria-label="{{ 'general.search.placeholder' | t }}">
    <div class="search-bar__table">
      <div class="search-bar__table-cell search-bar__form-wrapper">
        <form class="search search-bar__form" action="/search" method="get" role="search">
          <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
          <button class="search-bar__submit search__submit btn--link" type="submit">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
        </form>
      </div>
      <div class="search-bar__table-cell text-right">
        <button type="button" class="btn--link search-bar__close js-drawer-close">
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
        </button>
      </div>
    </div>
  </div>

  {% section 'header' %}

  <div class="page-container" id="PageContainer">

    <main class="main-content" id="MainContent" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

  </div>


  <!-- <script type="text/javascript" src="{% comment %}{{shop.secure_url}}{% endcomment %}/apps/vig/liquid_factory/scripttag.js?shop={% comment %}{{shop.permanent_domain}}{% endcomment %}"></script> -->
  <!-- <script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.24.6'><\/script>".replace("HOST", location.hostname));
  //]]></script> -->

</body>


<script type="text/javascript" src="{{shop.secure_url}}/apps/vig/liquid_factory/scripttag.js?shop={{shop.permanent_domain}}"></script>

</html>
